body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 254, 254);
}

a {
    text-decoration: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}